#archive_page {
	position: relative;
	z-index: 999;

	#mv {
		margin-top: -151px;
	}

	.mv-topics {
		@include mv('topics_mv.avif');

	}

	.mv-event {
		@include mv('event_mv.avif');

	}

	.archive-posts {
		margin-top: 160px;
		margin-bottom: 160px;

		@include sp {
			margin-top: 80px;
		}

		.post-item {

			margin-bottom: 80px;

			@include sp {
				margin-bottom: 60px;

			}

			&:not(:first-child) {

				margin-top: 80px;
			}

			.post-link {
				display: flex;
				justify-content: space-between;
				align-items: center;

				&:hover {
					opacity: 1;

					.post-title {
						opacity: 0.5;
					}

					.detail {
						opacity: 0.5;
					}

					.arrow {
						opacity: 0.5;
					}
				}
			}

			.post-meta {
				@include pc {
					max-width: 80%;
				}
				@include sp {
					width: 88%;
				}

				.post-date {
					@include pc {
						font-size: 14px;
					}

					font-size: 12px;
					font-weight: 300;
					margin-right: 39px;

					@include sp {
						margin-right: 30px;
					}
				}

				.post-category {
					@include pc {
						font-size: 14px;
					}

					display: inline-flex;
					justify-content: center;
					align-items: center;
					padding: 8px 20px;
					background-color: #000;
					color: #FFF;
					font-size: 14px;
					font-weight: 300;
					line-height: 1;
					margin-right: 10px;

				}

				.post-title {
					margin-top: 20px;
					margin-bottom: 20px;
					font-size: 17px;
					font-weight: 300;
					line-height: 34px;
					transition: all 0.3s;

					@include sp {
						font-size: 14px
					}
				}

				.detail {
					transition: all 0.3s;

					@include pc {
						font-size: 14px;
					}

					font-size: 14px
				}
			}

			.arrow {
				transition: all 0.3s;
				@include chevron-right(#000);

			}
		}

	}

	.pagination {
		margin-bottom: 240px;
		display: flex;
		justify-content: center;
		gap: 50px;

		@include sp {
			margin-bottom: 160px;
		}

		.page-numbers {
			font-size: 20px;
		}

		.current {
			text-decoration: underline;
			/* 現在のページを強調表示する場合 */
		}
	}
}
