#company_page {
	position: relative;
	z-index: 999;

	#mv {
		margin-top: -100px;
	}

	.mv {
		@include mv();
	}

	.company {
		padding-top: 70px;

		@include sp {
			padding-top: 30px;

		}

		.section {
			display: flex;
			border-bottom: 1px solid #33333369;
			padding-bottom: 40px;
			padding-top: 40px;

			@include sp {
				flex-direction: column;
				padding-bottom: 30px;

				&:not(:first-child) {
					padding-top: 30px;
				}

			}
		}

		.section-title {
			width: 188px;
			height: 66px;
			background-color: #000;
			color: #fff;
			font-size: 18px;
			font-weight: 300;
			display: flex;
			align-items: center;
			justify-content: center;

			@include sp {
				width: 138px;
				height: 36px;
				font-size: 14px;

			}
		}

		.section-content {
			padding-left: 50px;
			font-size: 14px;
			font-weight: 300;
			align-self: center;
			width: 100%;
			@include pc {
				font-size: 17px;
			}
			@include sp {
				margin-top: 30px;
				padding-left: 0;
			}
		}

		iframe {
			width: 100%;
			height: 400px;
			border: none;
		}
	}

	.buttons {
		margin-top: 240px;
		margin-bottom: 240px;
		display: flex;
		justify-content: center;
		gap: 120px;

		@include sp {
			margin-bottom: 160px;
			gap: 30px;
			justify-content: space-around;
		}

		.link-button {
			@include link-button;

		}
	}
}
