.container {
  padding-right: max(120px, 10%);
  padding-left: max(120px, 10%);
  // max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;

  @include sp {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.container-small {
  padding-right: max(270px, 20%);
  padding-left: max(270px, 20%);
  // max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;

  @include sp {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.content-container{
  // padding-right: max(270px, 20%);
  // padding-left: max(270px, 20%);
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;

  @include sp {
    padding-right: 20px;
    padding-left: 20px;
  }
}
