#top_page {
	position: relative;
	z-index: 999;

	#hero {
		margin-top: -151px;
	}

	.hero-wrapper {
		margin-bottom: 180px;
		@include sp {
			height: 100vh;
		}
	}

	.hero {
		min-width: 768px;
		height: 100vh;
		position: relative;
		z-index: 999;

		@include pc {
			min-height: 1000px;
		}

		@include sp {
			min-width: 390px;
			height: 71vh;
			max-height:2000px;

		}

		&::before {

			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.75), rgba(3, 3, 3, 0.73) 24%, rgba(51, 51, 51, 0.48) 81%, rgba(255, 255, 255, 0));
		}

		.video-background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}

		&__content {
			display: flex;
			justify-content: center;
			flex-direction: column;
			height: 100%;
			position: relative;
			z-index: 999;

			@include sp {
				justify-content: flex-end;

			}

			.head {
				font-size: 60px;
				color: #FFF;
				line-height: 1.571;
				font-weight: 400;

				@include sp {
					font-size: 30px;
				}
			}

			.lead {
				font-size: 20px;
				color: #FFF;
				padding-top: 56px;
				letter-spacing: 0.1em;

				@include sp {
					font-size: 14px;
					padding-top: 10px;
					padding-bottom: 30px;
				}
			}
		}

	}

	.news-box {
		background-color: #000;
		width: 400px;
		height: 232px;
		position: absolute;
		bottom: 0;
		right: 0;
		padding-left: 70px;
		padding-right: 210px;
		display: flex;
		align-items: center;
		flex-direction: row;

		@include sp {
			display: none;
		}

		.slide-wrapper {
			width: 100%;

		}

		.slide-box {
			width: 100%;
		}

		.date {
			color: #FFF;
			font-size: 12px;
		}

		.category {
			display: inline-block;
			background-color: #FFF;
			color: #000;
			font-size: 14px;
			padding: 5px 20px;
			margin-left: 25px;
		}

		.news-title {

			color: #FFF;
			font-size: 14px;
			font-weight: 400;
			line-height: 2.143;
			padding-top: 24px;
		}

		.arrow-box {
			display: flex;
			padding-left: 40px;

			.slick-arrow {
				cursor: pointer;
			}

			.next-arrow {
				padding-left: 30px;
			}

		}

		&--sp {
			display: none;

			@include sp {
				background-color: #000;
				// width: 100%;
				// height: 232px;
				padding-left: 20px;
				padding-right: 20px;
				display: flex;
				align-items: center;
				flex-direction: column;

				.slide-wrapper {
					width: 100%;
					padding-top: 50px;
				}

				.slide-box {
					width: 100%;
				}

				.date {
					color: #FFF;
					font-size: 12px;
				}

				.category {
					display: inline-block;
					background-color: #FFF;
					color: #000;
					font-size: 14px;
					padding: 5px 20px;
					margin-left: 25px;

				}

				.news-title {

					color: #FFF;
					font-size: 14px;
					font-weight: 400;
					line-height: 2.143;
					padding-top: 24px;
				}

				.arrow-box--sp {
					display: flex;
					padding-top: 20px;
					padding-bottom: 50px;

					.slick-arrow {
						cursor: pointer;
					}

					.next-arrow {
						padding-left: 30px;
					}
				}
			}
		}
	}

	.about {
		margin-bottom: 180px;

		@include sp {
			margin-top: 100px;
			margin-bottom: 160px;

		}

		.container {
			@include pc {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}

		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			position: relative;
			gap: 60px;

			@include sp {
				display: block;
			}
		}

		.text-wrapper {
			display: flex
		}

		.square-box {
			@include pc {
				@include square-box();
			}

			@include sp {

				@include square-box(#000, 14px, 45px, 42px, center);

				.inner-box::before {
					width: 20px !important;
					height: 22px !important;

				}
			}
		}


		.description {
			font-size: 24px;
			color: #000;
			margin-top: 60px;
		}

		.more {
			align-self: flex-end;
			justify-self: flex-end;

			.more-button {
				@include more-button(#000);
			}
		}

		.image-block-left {
			height: 506px;
			position: relative;
			margin-right: min(calc(-50vw + 50%), -13%);
		}

		.image-block-right {
			height: 506px;
			position: relative;
			margin-left: min(calc(-50vw + 50%), -13%);

		}

		.image {
			width: 100%;
			height: 100%;
			object-fit: cover;

		}

		@include sp {
			.logo {
				text-align: center;

				img {
					width: 72px;
				}
			}

			.header {
				text-align: center;
				font-size: 22px;
				font-weight: 400;
				padding-top: 10px;
				padding-bottom: 10px;
				line-height: 1.2;

			}

			.sub {
				text-align: center;
				font-size: 16px;
				font-weight: 400;
				padding-bottom: 20px;
				line-height: 1.2;

			}

			.lead {
				font-size: 18px;
				font-weight: 400;
				margin-top: 20px;
				margin-bottom: 60px;
			}
		}

	}

	.service {
		@extend .about;
	}
	.news-topics {
		@extend .about;
	}


	.news {
		background-color: #000;
		padding-bottom: 180px;

		@include sp {
			padding-bottom: 0;

		}

		.wrapper {
			display: flex;
			padding-top: 160px;

			@include sp {
				flex-direction: column;
				padding-top: 0;
			}
		}

		.post {
			width: 50%;

			@include sp {
				width: 100%;
				padding-bottom: 100px;
				padding-top: 100px;

			}

			&:last-child {
				@include pc {
					border-left: 1px solid #FFF;

					.header {
						margin-right: 120px;
					}

					.post-list {
						// margin-right: 120px;
					}
				}

				@include sp {
					border-bottom: 1px solid #FFF;

				}
			}

			.header {
				text-align: center;
				margin: 0 auto;

				@include pc {
					display: flex;
					justify-content: center;
					flex-direction: column;
				}

				.square-box {
					@include square-box(#FFF, 14px, 45px, 42px, center);

					@include pc {
						min-width: 0 !important;
					}

					.inner-box::before {
						width: 20px !important;
						height: 22px !important;
					}
				}

				&__title {
					color: #FFF;
					font-size: 30px;
					margin-top: 10px;
					margin-bottom: 10px;
					font-weight: 400;

					@include pc {
						margin-left: 10px;
					}

					@include sp {
						font-size: 22px;
						line-height: 1;
					}
				}

				&__caption {
					font-size: 16px;
					color: #FFF;
					font-weight: 400;

					@include sp {
						line-height: 1;
					}
				}
			}

			.post-list {
				display: flex;
				flex-direction: column;
				gap: 80px;
				padding-top: 80px;
				padding-left: 42.5px;
				padding-right: 42.5px;

			}

			&:last-child {
				@include pc {

					.post-list {
						// margin-left: 120px;
					}
				}

				@include sp {
					border-bottom: 1px solid #FFF;

				}
			}

			.post-item {
				margin-bottom: 20px;
				display: flex;
				justify-content: space-between;
				align-items: center;

				@include sp {

					width: 100%;
				}

				&:hover {
					opacity: 1;

					.title {
						opacity: 0.5;

					}

					.arrow {
						opacity: 0.5;

					}
				}

				.text {
					width: 80%;

					.date {
						@include pc {
							font-size: 14px;
						}

						color: #FFF;
						font-size: 12px;
					}

					.category {
						display: inline-block;
						background-color: #FFF;
						color: #000;
						font-size: 14px;
						padding: 5px 20px;
						margin-left: 25px;

					}

					.title {
						@include pc {
							font-size: 17px;
						}

						color: #FFF;
						font-size: 14px;
						font-weight: 400;
						line-height: 2.143;
						padding-top: 24px;
						transition: all 0.3s;

						@include pc {
							height: 60px;
						}
					}
				}

				.arrow {
					@include chevron-right(#FFF);
					transition: all 0.3s;
				}
			}


			.more {
				display: inline-block;
				width: 100%;
				text-align: right;

				@include sp {
					width: 100%;

				}

				.more-button {
					@include more-button(#FFF);
				}
			}
		}



	}

	.group-companies {
		margin-top: 240px;
		margin-bottom: 120px;

		@include sp {
			margin-top: 160px;
			margin-bottom: 160px;

		}

		.header {
			text-align: center;
			margin: 0 auto;

			@include pc {
				display: flex;
				justify-content: center;
				flex-direction: column;
			}

			.square-box {
				@include square-box(#000, 14px, 45px, 42px, center);

				@include pc {
					min-width: 0 !important;

				}

				.inner-box::before {
					width: 20px !important;
					height: 22px !important;

				}
			}


			&__title {
				color: #000;
				font-size: 30px;
				font-weight: 400;
				margin-top: 10px;
				margin-bottom: 10px;

				@include pc {
					margin-left: 10px;
				}

				@include sp {
					font-size: 22px;
					line-height: 1.2;

				}
			}

			&__caption {
				font-size: 16px;
				color: #000;
			}
		}

		.companies-list {
			margin-top: 40px;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			flex-wrap: wrap;
			gap: 100px;
			@include sp {
				margin-top: 80px;
				flex-direction: column;
				gap: 80px;
			}

			.company {
				width: 40%;
				text-align: center;
				&:nth-of-type(odd){
					text-align: right;
				}
				&:nth-of-type(even){
					text-align: left;
				}

				@include sp {
					width: 100%;
					margin-bottom: 0;
				}

				img {
					width: 50%;
				}
			}

			.name {
				@include pc {
					font-size: 17px;
				}

				font-size: 14px;
				margin-top: 10px;
			}

		}

		.group-title h2 {
			font-size: 24px;
			margin-top: 10px;
		}

		.group-title p {
			@include pc {
				font-size: 17px;
			}

			font-size: 14px;
			color: #000;
		}

		.company {
			width: 250px;
			margin-bottom: 30px;
		}

		.company img {
			max-width: 100%;
			height: auto;
			margin-bottom: 10px;
		}

		.company p {
			font-size: 12px;
			color: #000;
		}
	}
}

.floating-menu {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
	background-color: #fff;
	border-radius: 8px;
	padding: 10px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	display: none;
	opacity: 0;
	transition: opacity 0.5s ease;
	/* フェードインの速度調整 */
	z-index: 1001;
}

.floating-menu.show {
	opacity: 1;
	/* 表示状態 */
}

.floating-menu a {
	color: #000;
	opacity: 0.5;
	/* デフォルトでは薄い色 */
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	border-radius: 5px;
	transition: color 0.3s;
}

.floating-menu .current a {
	opacity: 1;
	/* 現在のセクションに該当するリンクは黒 */
}

.floating-menu ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

.floating-menu li {
	margin-bottom: 10px;
}

#meter {
	position: fixed;
	bottom: 54px;
	right: 20px;
	width: 3px;
	height: 140px;
	background-color: #ddd;
	overflow: hidden;
	z-index: 1001;
}

.progress {
	width: 100%;
	height: 0%;
	background-color: #333;
	transition: height 0.2s ease-out;
}
