#service_page {
	position: relative;
	z-index: 999;

	#mv {
		margin-top: -151px;
	}

	.mv {
		@include mv('top_service.avif');

	}

	.solution {
		padding-top: 233px;
		margin-bottom: 240px;

		@include sp {
			padding-top: 80px;
			margin-bottom: 160px;

		}

		.solution-content {
			@include pc {

				padding-left: 156px;
				padding-right: 156px;
				min-width: 800px;
				position: relative;
			}

			@include sp {}

			.image-block {
				@include pc {

					position: absolute;
					top: -126px;
					left: 10px;
				}

				@include sp {
					text-align: center;

					img {
						width: 72px;
					}
				}
			}

			.text-block {
				flex-grow: 1;

				.heading {
					font-size: 30px;
					font-weight: 300;
					line-height: 2;
					margin-bottom: 40px;

					@include sp {
						font-size: 22px;
						margin-top: 10px;
						margin-bottom: 30px;
					}

				}
			}

		}

		.solution-table {
			img {
				width: 100%;
			}

		}
	}

	.group {
		padding-top: 233px;

		@include sp {
			padding-top: 0;
		}

		.group-content {
			@include pc {

				padding-left: 156px;
				padding-right: 156px;
				min-width: 800px;
				position: relative;
			}


			.image-block {
				@include pc {

					position: absolute;
					top: -126px;
					left: 10px;
				}

				@include sp {
					text-align: center;

					img {
						width: 72px;
					}
				}
			}

			.text-block {
				flex-grow: 1;

				.heading {
					font-size: 30px;
					font-weight: 300;
					line-height: 2;
					margin-bottom: 40px;

					@include sp {
						text-align: center;
						font-size: 28px;
						margin-top: 10px;
						margin-bottom: 20px;
					}

				}
			}
		}

		.group-solution {
			.service-list {
				.service-thumbnail {
					img {
						width: 266px;
					}

					@include sp {
						text-align: center;
					}
				}

				.service-title {
					font-size: 20px;
					font-weight: 300;
					margin-bottom: 60px;

					@include sp {
						text-align: center;
						font-size: 14px;
						margin-bottom: 30px;

					}
				}

				.service-content {
					margin-bottom: 60px;

					h2.wp-block-heading {
						font-size: 26px;
						font-weight: 400;

						@include sp {
							font-size: 18px;
							margin-bottom: 30px;
						}


					}

					h3.wp-block-heading {
						font-size: 26px;
						font-weight: 300;

						@include sp {
							font-size: 18px;
							margin-bottom: 30px;
						}
					}

					h4.wp-block-heading {
						font-size: 20px;
						font-weight: 300;
						margin-top: 40px;
					}

					p {
						font-size: 20px;
						font-weight: 300;

						@include sp {
							font-size: 14px;
							margin-bottom: 30px;
						}
					}

					.wp-block-list {
						margin-bottom: 40px;

						li {
							font-size: 14px;
							font-weight: 300;

							&::before {
								content: "";
								display: inline-block;
								width: 10px;
								height: 10px;
								border-radius: 50%;
								background-color: #000;
								margin-right: 3px;
							}
						}
					}

				}

				.more-button {
					@include more-button;
					margin-bottom: 240px;

					@include sp {
						margin-bottom: 160px;
					}
				}
			}
		}
	}
}
