#product {
	.entry-content {

		.entry-title {
			font-size: 20px;
			font-weight: 400;
			margin-bottom: 60px;

		}

		h3.wp-block-heading {
			font-size: 26px;
			font-weight: 400;
		}

		h4.wp-block-heading {
			font-size: 20px;
			font-weight: 400;
			margin-top: 40px;
		}

		p {
			font-size: 20px;
			font-weight: 400;
		}
		.more-button {
			margin-top: 60px;
			@include more-button;
			margin-bottom: 240px;

			@include sp {
				margin-bottom: 160px;
			}
		}
	}
}
